.grid-container {
    display: grid;
    background-color: navy;
    grid-template-areas: 
    'one two three'
    'one four four'
    'five six six';
    grid-template-rows:25% 50% 25%;
    grid-template-columns:10% 20% 70%;
}
.grid-container div {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
}
.item1 {
    grid-area: one;
}
.item2 {
    grid-area: two;
}
.item3 {
    grid-area: three;
}
.item4 {
    grid-area: four;
}
.item5 {
    grid-area: five;
}
.item6 {
    grid-area: six;
}